In [4]:
def triple (x: float):
    return x*3

In [5]:
triple(['a'])

['a', 'a', 'a']

In [6]:
dict(a=1, b=2)

{'a': 1, 'b': 2}

In [7]:
d.keys()

NameError: name 'd' is not defined

In [8]:
d = dict(a=1, b=2)

In [9]:
d.keys(d)

TypeError: keys() takes no arguments (1 given)

In [10]:
list(d)

['a', 'b']

In [11]:
list(d.items())

[('a', 1), ('b', 2)]

In [12]:
d.keys()

dict_keys(['a', 'b'])

In [13]:
#dict = (key,value) pairs

In [18]:
d.update(dict('c'=1,2,3))

SyntaxError: keyword can't be an expression (<ipython-input-18-510cd2f66d49>, line 1)

In [17]:
d.update({'c':[1,2,3]})

In [19]:
import pandas as pd

In [20]:
pd.Dataframe(d)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [21]:
d

{'a': 1, 'b': 2, 'c': [1, 2, 3]}

In [23]:
df = pd.DataFrame(d)

In [29]:
df.iloc[2]
#displays rows as columns

a    1
b    2
c    3
Name: 2, dtype: int64

In [30]:
df

   a  b  c
0  1  2  1
1  1  2  2
2  1  2  3

In [33]:
df.iloc[:2]
#shows rows as rows, first two rows in this case. :2 = 0:2, but is exclusive (doesn't include tow 2)

   a  b  c
0  1  2  1
1  1  2  2

In [35]:
df.iloc[1:3]

   a  b  c
1  1  2  2
2  1  2  3

In [36]:
#range(start, stop, step)

In [37]:
#range(how many to skip, how many to get, step)

In [38]:
df.iloc[:]

   a  b  c
0  1  2  1
1  1  2  2
2  1  2  3

In [39]:
#default before : is 0, after : is up to and including the last one

In [40]:
df.iloc[::2]
#second :2 is step

   a  b  c
0  1  2  1
2  1  2  3

In [41]:
#step skips. 2 = every second one, skips one

In [42]:
df.iloc[::-1]
#-1 in step gives output backwards

   a  b  c
2  1  2  3
1  1  2  2
0  1  2  1

In [43]:
#0 is used in steps so that all data sets can be thought of as loops/circles. -1 is the last entry, 0 is the first entry

In [46]:
mylist = list(range(1,9))

In [47]:
mylist[-1]

8

In [48]:
midpoint = 5

In [49]:
first = mylist[:midpoint]
second = mylist[midpoint:]

In [50]:
first, second

([1, 2, 3, 4, 5], [6, 7, 8])

In [51]:
#midpoint is what was indexed by 5, not the number 5

In [52]:
mylist.index(5)

4

In [53]:
mylist.reverse()

In [54]:
mylist

[8, 7, 6, 5, 4, 3, 2, 1]

In [55]:
mylist.index(5)

3

In [56]:
midpoing = mylist.index(5)

In [57]:
first, second

([1, 2, 3, 4, 5], [6, 7, 8])

In [58]:
#df = dataframe

In [59]:
from sklearn import datasets

In [60]:
b = datasets.load_boston()

In [61]:
type(b)

sklearn.utils.Bunch

In [62]:
b.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [63]:
b.data == b['data']

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [64]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [65]:
d['a']

1

In [66]:
d['c']

[1, 2, 3]

In [67]:
b_df = pd.DataFrame(b.data, columns=b.feature_names)

In [68]:
b_df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [69]:
#b.data = numpy array, basically a matrix
b.data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [70]:
t = tuple(mylist)

In [71]:
t = 1, 2, 3

In [72]:
t

(1, 2, 3)

In [76]:
#tuple is an immutable list, but can be replaced with a new tuple under the same variable name
#don't want to accidentally change the data within

In [77]:
abc = tuple("aaaaaaabbbbccccc")

In [78]:
abc.count('a')

7

In [79]:
abc.count('c')

5

In [81]:
abc.index('c')
#shows index of first c

11

In [82]:
import numpy

In [83]:
numpy.concatenate

In [84]:
[x for x in (1, 2, 3)]
#taking a tuple and turning it into a list

[1, 2, 3]

In [85]:
(1, 2, 3)

(1, 2, 3)

In [86]:
[x for x in (1, 2, 3)]
#taking a tuple and turning it into a list

[1, 2, 3]

In [87]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [91]:
[x**3 for x in range(9)]
#what i want to do to it  for  what i want to get out  in  from where

[0, 1, 8, 27, 64, 125, 216, 343, 512]

In [92]:
chr(65)

'A'

In [93]:
chr(64)

'@'

In [96]:
[chr(x).lower() for x in range(65, 91)]

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [97]:
[chr(x) for x in range(65, 91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [98]:
"".join([chr(x) for x in range(65, 91)])
#joins all capital numbers into a string

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [99]:
"".join(chr(x) for x in range(65, 91))
#same can be done without square brakets in some cases

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [101]:
gen_comp = (chr(x) for x in range(65, 91))
#creates a generator object (set of instructions, doesn't make a list yet). However brakets would create a list

In [102]:
''.join(gen_comp)

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [103]:
next(gen_comp)
#error because gen_comps are more or less one time use

StopIteration:

In [104]:
abc

('a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'c')

In [109]:
set(abc)
#removes duplicates
#sets is not ordered, has no idex

{'a', 'b', 'c'}

In [108]:
#get around this by using list and set together
list(set(abc))

['b', 'a', 'c']

In [110]:
!python --version

Python 3.7.4

In [111]:
abc

('a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'b',
 'b',
 'c',
 'c',
 'c',
 'c',
 'c')

In [112]:
abc = set("aaaaaaaabbbbccccc")

In [113]:
abc

{'a', 'b', 'c'}

In [114]:
abc

{'a', 'b', 'c'}

In [115]:
"a b c".upper().split().index("B")

1

In [116]:
df

   a  b  c
0  1  2  1
1  1  2  2
2  1  2  3

In [117]:
df.sum()
#get sum of each column in df

a    3
b    6
c    6
dtype: int64

In [118]:
df.sum().sum()
#chain sums to get the sum of the sums

15

In [120]:
df.T
#transposed data frame, flips x and y

   0  1  2
a  1  1  1
b  2  2  2
c  1  2  3

In [121]:
df.T@df
#df.T.dot(df) is the same
#dot product

   a   b   c
a  3   6   6
b  6  12  12
c  6  12  14

In [122]:
df.T@df.sum(axis=1).sum()
#these are all encoded in pandas but come from numpy. Pandas is built on top of numpy

IndexError: tuple index out of range

In [123]:
#A loop before we go! Let's build a list using a loop (normally don't do this!!)

In [124]:
mylist = []
for c in "abc":
    mylist.append(c)
#c stands for character

In [125]:
mylist

['a', 'b', 'c']

In [126]:
#list comprehension is better because it does the same thing without needing to establish a variable beforehand and append command

In [127]:
[c for c in "abc"]

['a', 'b', 'c']