In [15]:
import re

#Taking Regex iterable and turning it into a pandas dataframe
example_regex = re.compile(r"ATCG")
example_string = "This string contains ATCG twice so that I can simply test an ATCG DNA iterable"

#Testing the iterable object
example_iter = example_regex.finditer(example_string)
if example_iter:
    for i in example_iter:
        print(i.group())
        print(i.start())
        print(i.end())
    else:
        print("Iter failed")
#Things like ".group" and ".start" work on a single match, but can't be used on iterables directly because they are
#   groups of matches, so instead you need to iterate through each match found and stored in the iterable
#Still printing else statement... why?

ATCG
21
25
ATCG
61
65
Iter failed

In [18]:
#Storing data from the iterable object in a data table
#Columns: Seq_name, Start location, Stop location, full seq found
import re
import pandas as pd

example_dataframe = pd.DataFrame(columns=["Seq Name","Start","Stop","Full Seq"])
print(example_dataframe)

Empty DataFrame
Columns: [Seq Name, Start, Stop, Full Seq]
Index: []

In [23]:
#Storing data from the iterable object in a data table
#Columns: Seq_name, Start location, Stop location, full seq found
import re
import pandas as pd

example_dataframe = pd.DataFrame(columns=["Seq Name","Start","Stop","Full Seq"])
print(example_dataframe)

example_regex = re.compile(r"\w{2}\sATCG\s\w{2}")
example_string = "This string contains ATCG twice so that I can simply test an ATCG DNA iterable"
example_iter = example_regex.finditer(example_string)

if example_iter:
    for i in example_iter:
        temp_list = []
        temp_list.append(str(i.span()))
        temp_list.append(i.start())
        temp_list.append(i.end())
        temp_list.append(i.group())
        print(temp_list)
        example_dataframe.append(temp_list)
print(example_dataframe)

Empty DataFrame
Columns: [Seq Name, Start, Stop, Full Seq]
Index: []
['(18, 28)', 18, 28, 'ns ATCG tw']
['(58, 68)', 58, 68, 'an ATCG DN']
Empty DataFrame
Columns: [Seq Name, Start, Stop, Full Seq]
Index: []

In [27]:
#Storing data from the iterable object in a data table
#Columns: Seq_name, Start location, Stop location, full seq found
import re
import pandas as pd

example_list = [[]]

example_regex = re.compile(r"\w{2}\sATCG\s\w{2}")
example_string = "This string contains ATCG twice so that I can simply test an ATCG DNA iterable"
example_iter = example_regex.finditer(example_string)

if example_iter:
    for i in example_iter:
        temp_list = []
        temp_list.append(i.span())
        temp_list.append(i.start())
        temp_list.append(i.end())
        temp_list.append(i.group())
        example_list.append(temp_list)
example_dataframe = pd.DataFrame(example_list, columns=["Seq Name", "Start", "End", "Full Seq"])
print(example_dataframe)

   Seq Name  Start   End    Full Seq
0      None    NaN   NaN        None
1  (18, 28)   18.0  28.0  ns ATCG tw
2  (58, 68)   58.0  68.0  an ATCG DN

In [28]:
#Why the first row...?

In [29]:
#Storing data from the iterable object in a data table
#Columns: Seq_name, Start location, Stop location, full seq found
import re
import pandas as pd

example_list = []

example_regex = re.compile(r"\w{2}\sATCG\s\w{2}")
example_string = "This string contains ATCG twice so that I can simply test an ATCG DNA iterable"
example_iter = example_regex.finditer(example_string)

if example_iter:
    for i in example_iter:
        temp_list = []
        temp_list.append(i.span())
        temp_list.append(i.start())
        temp_list.append(i.end())
        temp_list.append(i.group())
        example_list.append(temp_list)
example_dataframe = pd.DataFrame(example_list, columns=["Seq Name", "Start", "End", "Full Seq"])
print(example_dataframe)

   Seq Name  Start  End    Full Seq
0  (18, 28)     18   28  ns ATCG tw
1  (58, 68)     58   68  an ATCG DN

In [30]:
#Nvm figured it out

In [31]:
#Storing data from the iterable object in a data table
#Columns: Seq_name, Start location, Stop location, full seq found
import re
import pandas as pd

example_list = []

example_regex = re.compile(r"\w{2}\sATCG\s\w{2}")
example_string = "This string contains ATCG twice so that I can simply test an ATCG DNA iterable"
example_iter = example_regex.finditer(example_string)

for i in example_iter:
    temp_list = []
    temp_list.append(i.span())
    temp_list.append(i.start())
    temp_list.append(i.end())
    temp_list.append(i.group())
    example_list.append(temp_list)
example_dataframe = pd.DataFrame(example_list, columns=["Seq Name", "Start", "End", "Full Seq"])
print(example_dataframe)

   Seq Name  Start  End    Full Seq
0  (18, 28)     18   28  ns ATCG tw
1  (58, 68)     58   68  an ATCG DN

In [32]:
#Okay, so we've figured out it works with a string. Now, we have to test if this works by iterating over a dataframe
#1st: Iterating over an example dataframe
#    Setting up DataFrame
ex_data = [[0,"Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           [1,"Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           [3,"Patient 3",1,200,340,1.3,20,"TCGATCGATCGATCGATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["Index", "GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

   Index     GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0      0  Patient 1          13    800   900            0.4      20
1      1  Patient 2           8    450   520            0.8      20
2      3  Patient 3           1    200   340            1.3      20

               Sequence
0  ATCGATCGATCGATCGATCG
1  GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGATCGATCGA

In [39]:
ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGATCGATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

               Sequence
0  ATCGATCGATCGATCGATCG
1  GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGATCGATCGA

In [49]:
#Iterating over a dataframe
for row, col in ex_df.iterrows():
    print(col["Sequence"])
    print(row)

ATCGATCGATCGATCGATCG
0
GTCAGTCAGTCAGTCAGTCA
1
TCGATCGATCGATCGATCGA
2

In [50]:
#2nd: Nested for loop
ex_regex = re.compile(r"CGATC")

for row, col in ex_df.iterrows():
    temp_list = []
    ex_iter = ex_regex.finditer(col["Sequence"])
    for match in ex_iter:
        temp_list.append(i.group())
    print(temp_list)
new_dataframe = pd.DataFrame(temp_list, columns=["Full Seq"])
print(new_dataframe)

['an ATCG DN', 'an ATCG DN']
[]
['an ATCG DN', 'an ATCG DN']
     Full Seq
0  an ATCG DN
1  an ATCG DN

In [3]:
#Kernel cleared
import re
import pandas as pd

ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGATCGATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

ex_regex = re.compile(r"CGATC")
ex_list = []

for row, col in ex_df.iterrows():
    temp_list = []
    ex_iter = ex_regex.finditer(col["Sequence"])
    for match in ex_iter:
        temp_list.append(match.group())
    print(temp_list)
    ex_list.append(temp_list)
new_dataframe = pd.DataFrame(ex_list)
print(new_dataframe)

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

               Sequence
0  ATCGATCGATCGATCGATCG
1  GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGATCGATCGA
['CGATC', 'CGATC']
[]
['CGATC', 'CGATC']
       0      1
0  CGATC  CGATC
1   None   None
2  CGATC  CGATC

In [9]:
#Kernel cleared
import re
import pandas as pd

ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGAATCGAATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

ex_regex = re.compile(r"CGATC")
ex_list = []

for row, col in ex_df.iterrows():
    temp_list = []
    for match in ex_regex.finditer(col["Sequence"]):
        temp_list.append(match.group())
    print(temp_list)
    ex_list.append(temp_list)
print(ex_list)
new_dataframe = pd.DataFrame(ex_list)
print(new_dataframe)

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

                 Sequence
0    ATCGATCGATCGATCGATCG
1    GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGAATCGAATCGA
['CGATC', 'CGATC']
[]
['CGATC']
[['CGATC', 'CGATC'], [], ['CGATC']]
       0      1
0  CGATC  CGATC
1   None   None
2  CGATC   None

In [14]:
new_dataframe.style.set_caption("Is This a Title?")

In [26]:
ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGAATCGAATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

ex_regex = re.compile(r"CGATC")
ex_list = []

for row, col in ex_df.iterrows():
    temp_list1 = []
    for match in ex_regex.finditer(col["Sequence"]):
        temp_list2 = []
        temp_list2.append(col["GCD ID"])
        temp_list2.append(match.group())
        temp_list2.append(match.start())
        temp_list2.append(match.end())
        temp_list1.append(temp_list2)
        print(temp_list2)
    print("-------")
    print(temp_list1)
    ex_list.append(temp_list1)
print(ex_list)
new_dataframe = pd.DataFrame(ex_list)
new_dataframe.style.set_caption("Is This a Title?")

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

                 Sequence
0    ATCGATCGATCGATCGATCG
1    GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGAATCGAATCGA
['Patient 1', 'CGATC', 2, 7]
['Patient 1', 'CGATC', 10, 15]
-------
[['Patient 1', 'CGATC', 2, 7], ['Patient 1', 'CGATC', 10, 15]]
-------
[]
['Patient 3', 'CGATC', 1, 6]
-------
[['Patient 3', 'CGATC', 1, 6]]
[[['Patient 1', 'CGATC', 2, 7], ['Patient 1', 'CGATC', 10, 15]], [], [['Patient 3', 'CGATC', 1, 6]]]

In [27]:
ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGAATCGAATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

ex_regex = re.compile(r"CGATC")
ex_list = []

for row, col in ex_df.iterrows():
    temp_list1 = []
    for match in ex_regex.finditer(col["Sequence"]):
        temp_list2 = []
        temp_list2.append(col["GCD ID"])
        temp_list2.append(match.group())
        temp_list2.append(match.start())
        temp_list2.append(match.end())
        ex_list.append(temp_list2)
        print(temp_list2)
    print("-------")
    print(temp_list1)
print(ex_list)
new_dataframe = pd.DataFrame(ex_list)
new_dataframe.style.set_caption("Is This a Title?")

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

                 Sequence
0    ATCGATCGATCGATCGATCG
1    GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGAATCGAATCGA
['Patient 1', 'CGATC', 2, 7]
['Patient 1', 'CGATC', 10, 15]
-------
[]
-------
[]
['Patient 3', 'CGATC', 1, 6]
-------
[]
[['Patient 1', 'CGATC', 2, 7], ['Patient 1', 'CGATC', 10, 15], ['Patient 3', 'CGATC', 1, 6]]

In [29]:
ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGAATCGAATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

ex_regex = re.compile(r"CGATC")
ex_list = []

for row, col in ex_df.iterrows():
    temp_list1 = []
    ex_iter = ex_regex.finditer(col["Sequence"])
    if ex_iter:
        for match in ex_iter:
            temp_list2 = []
            temp_list2.append(col["GCD ID"])
            temp_list2.append(match.group())
            temp_list2.append(match.start())
            temp_list2.append(match.end())
            ex_list.append(temp_list2)
            print(temp_list2)
        print("-------")
        print(temp_list1)
        
print(ex_list)
new_dataframe = pd.DataFrame(ex_list)
new_dataframe.style.set_caption("Is This a Title?")

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

                 Sequence
0    ATCGATCGATCGATCGATCG
1    GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGAATCGAATCGA
['Patient 1', 'CGATC', 2, 7]
['Patient 1', 'CGATC', 10, 15]
-------
[]
-------
[]
['Patient 3', 'CGATC', 1, 6]
-------
[]
[['Patient 1', 'CGATC', 2, 7], ['Patient 1', 'CGATC', 10, 15], ['Patient 3', 'CGATC', 1, 6]]

In [31]:
ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGAATCGAATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

ex_regex = re.compile(r"CGATC")
ex_list = []

for row, col in ex_df.iterrows():
    temp_list1 = []
    ex_iter = ex_regex.finditer(col["Sequence"])
    if ex_iter:
        for match in ex_iter:
            temp_list2 = []
            temp_list2.append(col["GCD ID"])
            temp_list2.append(match.group())
            temp_list2.append(match.start())
            temp_list2.append(match.end())
            ex_list.append(temp_list2)
            print(temp_list2)
        print("-------")
        print(temp_list1)
        
print(ex_list)
new_dataframe = pd.DataFrame(ex_list)
new_dataframe.style.set_caption("Is This a Title?")

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

                 Sequence
0    ATCGATCGATCGATCGATCG
1    GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGAATCGAATCGA
['Patient 1', 'CGATC', 2, 7]
['Patient 1', 'CGATC', 10, 15]
-------
[]
-------
[]
['Patient 3', 'CGATC', 1, 6]
-------
[]
[['Patient 1', 'CGATC', 2, 7], ['Patient 1', 'CGATC', 10, 15], ['Patient 3', 'CGATC', 1, 6]]

In [32]:
ex_data = [["Patient 1",13,800,900,0.4,20,"ATCGATCGATCGATCGATCG"],
           ["Patient 2",8,450,520,0.8,20,"GTCAGTCAGTCAGTCAGTCA"],
           ["Patient 3",1,200,340,1.3,20,"TCGATCGATCGAATCGAATCGA"]]

ex_df = pd.DataFrame(ex_data,columns=["GCD ID", "Chromosome", "Start", "Stop", "CNV Intensity", "Length", "Sequence"])
print(ex_df)

ex_regex = re.compile(r"CGATC")
ex_list = []

for row, col in ex_df.iterrows():
    temp_list1 = []
    ex_iter = ex_regex.finditer(col["Sequence"])
    if ex_iter:
        for match in ex_iter:
            temp_list2 = []
            temp_list2.append(col["GCD ID"])
            temp_list2.append(match.group())
            temp_list2.append(match.start()+1)
            temp_list2.append(match.end()+1)
            ex_list.append(temp_list2)
            print(temp_list2)
        print("-------")
        print(temp_list1)
        
print(ex_list)
new_dataframe = pd.DataFrame(ex_list)
new_dataframe.style.set_caption("Is This a Title?")

      GCD ID  Chromosome  Start  Stop  CNV Intensity  Length  \
0  Patient 1          13    800   900            0.4      20
1  Patient 2           8    450   520            0.8      20
2  Patient 3           1    200   340            1.3      20

                 Sequence
0    ATCGATCGATCGATCGATCG
1    GTCAGTCAGTCAGTCAGTCA
2  TCGATCGATCGAATCGAATCGA
['Patient 1', 'CGATC', 3, 8]
['Patient 1', 'CGATC', 11, 16]
-------
[]
-------
[]
['Patient 3', 'CGATC', 2, 7]
-------
[]
[['Patient 1', 'CGATC', 3, 8], ['Patient 1', 'CGATC', 11, 16], ['Patient 3', 'CGATC', 2, 7]]

In [15]:
import pandas as pd

#Testing the VBS table
VBS_list = []
BKLT_VBS_count = 0
EBNA1_VBS_count = 0
HPVE1_VBS_count = 0
HPVE2_VBS_count = 0

# Make test dataframe
test_dataframe_list = [
    ["CNV1 (BKLT)", 1, 345, 892, 1, 106, "TGAGTGAAGCTCCAATGAGAGGCATCGGTAAGATCCTCAGATCCGATCAGGCCTCGGTCGAATGTTTACGATGGGGCATCGGTGAGGCCCCGTGAGTGAAGTGGGA"],
    ["CNV2 (EBNA1)", 4, 200, 450, 1, 102, "TCGGATGAGTGCGAGAGATCACAGCAGGTAGCATCGGCTATCGTGGTTACATACGCATTGCATGCAGAGGATAGCTGATGCTACCGTGGAGTGCAGCGTGAA"],
    ["CNV3 (HPV)", 12, 600, 999, 1, 109, "GTGAGATGAAGAGTGAATGGTTCGAGACTATGGTGAAGAGTTATGATAGATGTGAGATGATGAACCGATCGCGGTGTTGAAGTGAGAACCGGGCGGTGTTGAGATGAGA"],
    ["CNV4 (Empty)", 16, 800, 1244, 1, 108, "GTGAGAGTGGTGAGAGTGAGTCCGTCGACAGCTCGACAGTCACGTAGCTACGTCAGATCAGTGAGATCAGTACAGTGTGCACGATCAGTGCACGTGATGCAACGAAAA"]
]
test_dataframe = pd.DataFrame(test_dataframe_list, columns = ["GDC Aliquot", "Chromosome", "Start", "End", "Segment Mean", "Length", "Sequence"])
print(test_dataframe)

# Establish degenerate virus regex sequences as variables
import re

BK_LT = re.compile(r"G[AG]GGC[ATCG]{1,30}GCC[CT]C")
EBNA1 = re.compile(r"G[AG]TAGC[ATCG]{4}GCTA[CT]C")
HPV_E1 = re.compile(r"AT[AGT]G[CT]{2}[ATCG]{3}[AG]{2}C[ACT]AT")
HPV_E2 = re.compile(r"ACCG[ATCG]{4}CGGT")

# Find virus sequences in input_sequence with re.finditer
for index, row in test_dataframe.iterrows():
    #Reset list of CNV VBSs for each new CNV and label with new CNV name
    CNV_VBS = []
    CNV_VBS.append(row["GDC Aliquot"])
    #Reset VBS counts for each new CNV
    BKLT_VBS_count = 0
    EBNA1_VBS_count = 0
    HPVE1_VBS_count = 0
    HPVE2_VBS_count = 0
    
    BK_iter = BK_LT.finditer(row["Sequence"])
    if BK_iter:
        for match in BK_iter:
            #Adding 1 to numerator of VBS count for each CNV every time a match is found
            BKLT_VBS_count += 1
    #Adding total BK VBS to list of VBSs for this CNV
    CNV_VBS.append(BKLT_VBS_count/(row["Length"]/1000))
    print(BKLT_VBS_count)
    print(CNV_VBS)
    
    EBNA1_iter = EBNA1.finditer(row["Sequence"])
    if EBNA1_iter:
        for match in EBNA1_iter:
            #Adding 1 to numerator of VBS count for each CNV every time a match is found
            EBNA1_VBS_count += 1
    #Adding total EBNA1 to list of VBSs for this CNV
    CNV_VBS.append(EBNA1_VBS_count/(row["Length"]/1000))
    print(EBNA1_VBS_count)
    print(CNV_VBS)
    
    HPVE1_iter = HPV_E1.finditer(row["Sequence"])
    if HPVE1_iter:
        for match in HPVE1_iter:
            #Adding 1 to numerator of VBS count for each CNV every time a match is found
            HPVE1_VBS_count += 1
    #Adding total HPV E1 to list of VBSs for this CNV
    CNV_VBS.append(HPVE1_VBS_count/(row["Length"]/1000))
    print(HPVE1_VBS_count)
    print(CNV_VBS)
    
    HPVE2_iter = HPV_E2.finditer(row["Sequence"])
    if HPVE2_iter:
        for match in HPVE2_iter:
            #Adding 1 to numerator of VBS count for each CNV every time a match is found
            HPVE2_VBS_count += 1
    #Adding total HPV E2 to list of VBSs for this CNV
    CNV_VBS.append(HPVE2_VBS_count/(row["Length"]/1000))
    print(HPVE2_VBS_count)
    print(CNV_VBS)
    
    #Adding list of all VBSs for this CNV to the list of lists
    VBS_list.append(CNV_VBS)

# Turn list of lists into pandas dataframes
VBS_table = pd.DataFrame(VBS_list, columns=["CNV ID", "BKPyV LT", "EBNA1", "HPV E1", "HPV E2"])
VBS_table.style.set_caption("Virus Binding Scores")

    GDC Aliquot  Chromosome  Start   End  Segment Mean  Length  \
0   CNV1 (BKLT)           1    345   892             1     106
1  CNV2 (EBNA1)           4    200   450             1     102
2    CNV3 (HPV)          12    600   999             1     109
3  CNV4 (Empty)          16    800  1244             1     108

                                            Sequence
0  TGAGTGAAGCTCCAATGAGAGGCATCGGTAAGATCCTCAGATCCGA...
1  TCGGATGAGTGCGAGAGATCACAGCAGGTAGCATCGGCTATCGTGG...
2  GTGAGATGAAGAGTGAATGGTTCGAGACTATGGTGAAGAGTTATGA...
3  GTGAGAGTGGTGAGAGTGAGTCCGTCGACAGCTCGACAGTCACGTA...
2
['CNV1 (BKLT)', 18.867924528301888]
0
['CNV1 (BKLT)', 18.867924528301888, 0.0]
0
['CNV1 (BKLT)', 18.867924528301888, 0.0, 0.0]
0
['CNV1 (BKLT)', 18.867924528301888, 0.0, 0.0, 0.0]
0
['CNV2 (EBNA1)', 0.0]
2
['CNV2 (EBNA1)', 0.0, 19.607843137254903]
0
['CNV2 (EBNA1)', 0.0, 19.607843137254903, 0.0]
0
['CNV2 (EBNA1)', 0.0, 19.607843137254903, 0.0, 0.0]
0
['CNV3 (HPV)', 0.0]
0
['CNV3 (HPV)', 0.0, 0.0]
1
['CNV3 (HPV)', 0.0, 0.0, 9.174311926605505]
1
['CNV3 (HPV)', 0.0, 0.0, 9.174311926605505, 9.174311926605505]
0
['CNV4 (Empty)', 0.0]
0
['CNV4 (Empty)', 0.0, 0.0]
0
['CNV4 (Empty)', 0.0, 0.0, 0.0]
0
['CNV4 (Empty)', 0.0, 0.0, 0.0, 0.0]